.a-black { color: black; }
.a-red { color: red; }
.a-green { color: green; }
.a-yellow { color: yellow; }
.a-blue { color: blue; }
.a-magenta { color: magenta; }
.a-cyan { color: cyan; }
.a-white { color: white; }
.a-pink { color: pink; }
.a-orange { color: orange; }
.a-purple { color: purple; }
.a-gold { color: goldenrod; }
.a-silver { color: silver; }
.a-gray { color: gray; }
.a-brown { color: brown; }
.a-maroon { color: maroon; }
.a-lime { color: lime; }

.a-glow-white { color: white; text-shadow: 0 0 8px white, 0 0 16px white, 0 0 24px white, 0 0 32px white, 0 0 40px white, 0 0 48px white; }
.a-glow-red { color: red; text-shadow: 0 0 8px red, 0 0 16px red, 0 0 24px red, 0 0 32px red, 0 0 40px red, 0 0 48px red; }
.a-glow-green { color: green; text-shadow: 0 0 8px green, 0 0 16px green, 0 0 24px green, 0 0 32px green, 0 0 40px green, 0 0 48px green; }
.a-glow-blue { color: blue; text-shadow: 0 0 8px blue, 0 0 16px blue, 0 0 24px blue, 0 0 32px blue, 0 0 40px blue, 0 0 48px blue; }
.a-glow-magenta { color: magenta; text-shadow: 0 0 8px magenta, 0 0 16px magenta, 0 0 24px magenta, 0 0 32px magenta, 0 0 40px magenta, 0 0 48px magenta; }
.a-glow-cyan { color: cyan; text-shadow: 0 0 8px cyan, 0 0 16px cyan, 0 0 24px cyan, 0 0 32px cyan, 0 0 40px cyan, 0 0 48px cyan; }
.a-glow-yellow { color: yellow; text-shadow: 0 0 8px yellow, 0 0 16px yellow, 0 0 24px yellow, 0 0 32px yellow, 0 0 40px yellow, 0 0 48px yellow; }
.a-glow-gold { color: goldenrod; text-shadow: 0 0 8px goldenrod, 0 0 16px goldenrod, 0 0 24px goldenrod, 0 0 32px goldenrod, 0 0 40px goldenrod, 0 0 48px goldenrod; }